.card-info{
    padding-left: 12px;
    /* border-top: 2px solid white; */
    border-left:  2px solid white;
    border-bottom: 2px solid white ;
}
.stock-info{
    padding-right: 12px;
    /* border-top: 2px solid white; */
    border-right:  2px solid white;
    border-bottom: 2px solid white ;
}
